res/*
log/*
checkpoint/*
sh_result/*
res/*
mf*.py
mf100k.json
mf*.csv
*.csv
data/douban/
data/kuai-small/
__pycache__/
.gitignore
.DS_Store
train_*.py
mf100k.json
scatter_plot.png
*.json
./mf100k.json
.idea/*
./scatter_plot.png
./mf100k.json
scatter_plot.png
dataset.py
data/douban
./data/*